/* Global Layout Set-up */

* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  color: #000;
  background: #fff;
}

/* Header Styles */

header {
  background: #2d3945;
}

header h2 {
  color: #fff;
  text-transform: uppercase;
  padding: 10% 0;
  font-size: 18px;
  margin: 0;
  font-weight: normal;
}

/* Section Styles */

fieldset {
  border: none;
}

/* Tablet Media Query */

/* Desktop Media Query */

@media screen and (min-width: 760px) {


}
